* {
  box-sizing: border-box;
}

.site{
      width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0px !important;
  font-size: 1.125rem !important;

}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;

}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}

.container-index{
margin: 30px auto;
}

.container-separador{
  background: #f8f8f850;
  padding: 20px 0;
}

.titulo{
  background: #2a0031c2;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  color: white;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: .05rem;
  font-weight: bold;
}

.hidden {
  display: none;
}

.btn-link {
  padding: 15px;
  background: white;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;

  &::after {
    content: '';
    display: block;
    background: url('../img/icons/arrow.svg') no-repeat center center;
    width: 18px;
    height: 18px;
  }
}

.subtitulo {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.375rem;
  margin-bottom: 60px;
  font-weight: bold;
color: #C622E0;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100px;
      height: 6px;
      background: currentColor;
      transform: skew(-20deg);
  }

  &::before{
    margin: 0px calc(50% + 20px) 0 auto;
  }

  &::after{
    margin: 5px calc(50% - 120px) 0 auto;
  }
}


p:has(> strong:only-child),
p:contains("woocommerce_checkout") {
  display: none !important;
}


.whatsapp-fixo {
    position: fixed;
    bottom: 20px;
    right: 17px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.whatsapp-fixo:hover {
    transform: scale(1.1);
}
.whatsapp-fixo img {
    width: 100%;
    height: 100%;
}

#back-to-top {
    position: fixed;
    z-index: 9999;
    bottom: 100px;
    right: 18px;
    backdrop-filter: blur(15px);
    color: #000;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    background-color: #fff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s ease, transform 0.9s ease, visibility 0.9s;
}
#back-to-top img {
    width: 30px;
    height: 30px;
}
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}
#back-to-top:hover {
    transform: scale(1.1);
}
