.slide-item {
  display: grid;
  grid-template-columns: 65% 35%;
  background-color: #D645E550;

  .slide-info {
    padding: 0 20px 40px 20px;
    color: white;
    align-self: end;
  }

  .slide-preco {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
  }

  .slide-nome {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;

  }




}

.vantagens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;

  li {
    margin: 0 20px;
    padding: 5px 0 5px 35px;
    background-repeat: no-repeat;
    background-position: center left;

    &:nth-child(1) {
      background-image: url('../img/icons/frete.svg');
    }

    &:nth-child(2) {
      background-image: url('../img/icons/troca.svg');
    }

    &:nth-child(3) {
      background-image: url('../img/icons/card.svg');
    }
  }
}

.categorias-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  a {
    display: grid;

    &:nth-child(1) {
      border-top: 10px solid #C622E0;
    }

    &:nth-child(2) {
      border-bottom: 10px solid #C622E0;
    }

    &:nth-child(2) span {
      justify-self: start;
      margin-left: 40px;
      margin-bottom: 30px;
    }
  }

  img,
  span {
    grid-area: 1/1;
  }

  span {
    align-self: end;
    justify-self: end;
    margin-right: 40px;
    margin-bottom: 40px;
    width: 160px;
  }
}

@media(max-width: 800px) {
  .slide-item {
    grid-template-columns: 1fr;
  }

  .slide-info {
    margin-top: 20px;
  }

  .categorias-home {
    grid-template-columns: 1fr;
  }
}


.anime {
  background-color: #c5c5c517;
  padding: 20px 0;
  margin-top: 20px;

  h1 {
    margin-top: 50px;
  }

  .site {
    display: flex;
    justify-content: space-evenly;

  }

  .separador {

    width: 100%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    flex-direction: column;
    padding: 10px;

    img {
      width: 250px;
      height: 250px;
      border-radius: 100%;
      border: 5px solid #C622E0;
    }

    a {
      width: 250px;
      height: 250px;
      display: flex;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nome_categoria {
      background-color: #C622E0 !important;
      color: white;

      width: 100px;
      display: flex;
      height: 40px;
      margin: 10px 0;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .count {
      color: black;
      font-weight: 500;
    }

  }

}

.carousel-container {
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  gap: 20px;
  animation: scroll 30s linear infinite;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-120%);
  }
}


@media(max-width: 800px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-500%);
    }
  }
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carrossel-wrapper {
  display: flex;
  width: max-content;
  will-change: transform;
}



.separador img {

  border-radius: 10px;
  transition: transform 0.3s ease;
}

.separador img:hover {
  transform: scale(1.05);
}

.promo_img {

  padding-bottom: 20px;

  .site {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .imagem_destaque {
      width: 32%;

      img {
        width: 100%;
        height: 400px;
        border-radius: 10px;
        border: 3px solid #C622E0;
      }
    }
  }

  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-radius: 24px;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 36px;
    border-radius: 22px;
    color: #ffffff;
    overflow: hidden;
    background: #C622E0;
    /* Cor principal do fundo */
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: #d645e5ad;
    /* camada intermediária */
    z-index: -1;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: #fe46d5d6;
    /* camada mais ao fundo */
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content svg {
    width: 48px;
    height: 48px;
  }

  .content .para {
    z-index: 1;
    opacity: 1;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content .link {
    z-index: 1;
    color: #ffffff;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content .link:hover {
    color: #FE46D5;
    text-decoration: underline;
  }

  .card:hover {
    transform: translate(0px, -16px);
  }

  .card:hover .content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .card:hover .content::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: auto;
  }

  .carousel-img.active {
    position: relative;
    opacity: 1;
  }


}

@media(max-width: 800px) {
  .promo_img {
    .site {
      flex-direction: column;
    }

    .imagem_destaque {
      width: 90% !important;
      margin-bottom: 70px;
    }
  }

  .card {
    width: 270px !important;
    margin-bottom: 20px;
    
  }

  .card:hover .content::after{
    width: 80% !important;
  }
}